<!DOCTYPE html>
<html>
<head>
    <title>THL Vaccination Data Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
<!--
    <script type="text/javascript" src="<+JS_SRC+>"></script>
    <style type="text/css">
    </style>
-->
</head>
<body>
    {% block selector %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    <footer>Note: This is just a simulation and not a real world project.</footer>
</body>
</html>
